*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
main{
    font-family: 'Roboto', sans-serif;
}
.titulosSecciones{
    margin: 2rem 1rem;
}
.separadorSecciones{
    height: 8px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 21%, rgba(9,9,121,1) 59%);
    width: 30%;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h5{
    font-family: 'Rowdies', cursive;
}

a{
    text-decoration: none;
}

