.contenedor__seccion2{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;   

}

.contenedores--tarjetas{
    width: 90%;
    margin: 1rem auto;
    box-shadow: 1px 3px 5px 4px rgb(80, 77, 77);  
    border: 1px solid rgb(109, 52, 52);
    text-align: center;
}
 
.icons--tarjeta{
    margin: 1rem 0;
    width: 65%;
    max-width: 500px;
}
.titulo--tarjeta{
    text-align: center;
    font-size: 1.8rem;

}
.especificacion{
    font-family: 'Source Code Pro', monospace; 
    text-align: center;
    font-size: 1.2rem;
}
.descripcion--tarjetas{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.contenedorSeccion2{
    display: flex;
    flex-direction: column;
}

.contenedor__listas{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: left;
    margin-left: -20px;
}


@media only screen and (min-width: 900px) {
    .contenedor__seccion2{
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .contenedores--tarjetas{
        max-width: 390px;
        height: 465px;

    }
    .titulo--tarjeta{
        font-size: 1.6rem;
    }
    .icons--tarjeta{
        max-width: 400px;
    }
    .contenedor__listas{
        font-size: 0.8rem;

    }

}  